<!-- <div class="card-top containerfa-flip-horizontal">
    <div class="container d-flex">
        <div class="item">
            <a > -->
                <!-- <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt=""> -->
                <!-- <h4>All products</h4>
            </a>
        </div>
        <div class="item">
            <a > -->
                <!-- <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt=""> -->
                <!-- <img src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt=""> -->
                <!-- <h4>Electronics</h4>
            </a>
        </div>
        <div class="item">
            <a > -->
                <!-- <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt=""> -->
                <!-- <img src="https://rukminim1.flixcart.com/flap/128/128/image/82b3ca5fb2301045.png?q=100" alt=""> -->
                <!-- <h4>Fasion</h4>
            </a>
        </div>
        <div class="item">
            <a > -->
                <!-- <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt=""> -->
                <!-- <img style="width: 62px; margin-top: 5px;" src="https://rukminim1.flixcart.com/image/580/696/kkh6zrk0/jewellery-set/o/w/z/gt-ns-862-matushri-art-original-imafzt9teacakjyn.jpeg?q=50" alt=""> -->
                <!-- <h4>Helth & Beauty</h4>
            </a>
        </div>
        <div class="item">
            <a > -->
                <!-- <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt=""> -->
                <!-- <img style="width: 62px; margin-top: 5px;" src="https://rukminim1.flixcart.com/image/580/696/kkh6zrk0/jewellery-set/o/w/z/gt-ns-862-matushri-art-original-imafzt9teacakjyn.jpeg?q=50" alt=""> -->
                <!-- <h4>Sports</h4>
            </a>
        </div>
        <div class="item">
            <a > -->
                <!-- <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt=""> -->
                <!-- <img style="width: 62px; margin-top: 5px;" src="https://rukminim1.flixcart.com/image/580/696/kkh6zrk0/jewellery-set/o/w/z/gt-ns-862-matushri-art-original-imafzt9teacakjyn.jpeg?q=50" alt=""> -->
                <!-- <h4>Home & Garden</h4>
            </a>
        </div>
        <div class="item">
            <a > -->
                <!-- <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt=""> -->
                <!-- <img style="width: 62px; margin-top: 5px;" src="https://rukminim1.flixcart.com/image/580/696/kkh6zrk0/jewellery-set/o/w/z/gt-ns-862-matushri-art-original-imafzt9teacakjyn.jpeg?q=50" alt=""> -->
                <!-- <h4>Collectibles & Art</h4>
            </a>
        </div>
        <div class="item">
            <a > -->
                <!-- <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt=""> -->
                <!-- <img style="width: 62px; margin-top: 5px;" src="https://rukminim1.flixcart.com/image/580/696/kkh6zrk0/jewellery-set/o/w/z/gt-ns-862-matushri-art-original-imafzt9teacakjyn.jpeg?q=50" alt=""> -->
                <!-- <h4>Motors </h4>
            </a>
        </div>
    </div>
</div> -->

<!-- <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-bg-primary" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
          </li>
          <li class="nav-item ">
            <a class="nav-link active text-bg-primary  " aria-current="page" href="#">Electronics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Fasion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Helth & Beauty</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Sports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home & Garden</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Collectibles & Art</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Motors </a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->

<!-- <app-subnavbar></app-subnavbar>  -------------------------------->

<div class="container">
  <div class="row  ">
      <ng-container *ngFor="let item of productList">
          <div class="card opacity-88 shadow p-3 mb-5 bg-light rounded col-md-3 bg-light">
               <img src="{{item.image}}" alt=""> 
             <h3 class ="text-uppercase" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;font-weight:bold;">{{item.productName}}</h3>
              <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{item.pDescription}}</p>
              <p><strong>Price:</strong><strong> $ {{item.pPrice}}.00</strong> </p>
             
              <p> <strong>Quntity:</strong>
                <button type="button" class="btn" (click)=inc(item)>
                  <i class="fa fa-plus"></i>
                </button> {{item.pUnit}}<button type="button" class="btn"(click)=dec(item) >
                  <i class="fa fa-minus"></i></button></p>
                  
              <p>Free International Shipping from srilanka</p>
              <button class="btn btn-primary" (click)=addtocart(item)  >Add to cart</button>
          </div>
      </ng-container>
  </div>
</div>

<app-footer></app-footer>