<p>order-andpaywithlogin works!</p>

<div class="d-flex justify-content-center">
    <div class="card .mt-0 bg-light" style="width: 800px">
      <div class="card-header bg-light p-3">
  
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="text-primary">
                <h1>Ship to.. .</h1>
              </div>
              <p><strong>Shopping</strong> free</p>
              <p><strong>Sub total:</strong>Rs. {{total}}.00</p>
              <p></p>
              <p></p>
            </div>
            <div class="col d-flex justify-content-end">
              <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <ng-container *ngIf="checkval!=null" >
              <button (click)="pay(total)" type="button"  class="btn btn-primary" >Confirm and Pay</button>
              </ng-container>
            </div>
            <!-- <div class="col">
              <button (click)="historybutton()" type="button"  class="btn btn-primary" >Add history</button>
            </div> -->
          </div>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <!-- <ng-container *ngIf="checkval==null" > -->
        <form [formGroup]="exform" #orderPost="ngForm" (ngSubmit)="OrderData(orderPost.value)">
          <div class="col p-3">
            <div class="row p-3">
              <div class="col">
                <input formControlName="country" type="text" class="form-control" ngModel  name="country" placeholder="Country" />
                <small *ngIf="exform.get('country').invalid &&  exform.get('country').touched" class="text-danger">Country Is Required</small>
              </div>
            </div>
            <div class="row p-3">
              <div class="col">
                <input formControlName="fname" type="text" class="form-control" ngModel  name="fname" placeholder="First name" />
                <small *ngIf="exform.get('fname').invalid &&  exform.get('fname').touched" class="text-danger">Fname Is Required</small>
              </div>
              <div class="col">
                <input formControlName="lname" type="text" class="form-control" ngModel  name="lname" placeholder="Last name" />
                <small *ngIf="exform.get('lname').invalid &&  exform.get('lname').touched" class="text-danger">Lname Is Required</small>
              </div>
            </div>
            <div class="row p-3">
              <div class="col">
                <input formControlName="address"  type="text" class="form-control" ngModel  name="address" placeholder="Street Adress" />
                <small *ngIf="exform.get('address').invalid &&  exform.get('address').touched" class="text-danger">Address Is Required</small>
              </div>
            </div>
            <div class="row p-3">
              <div class="col">
                <input formControlName="city"   type="text" class="form-control" ngModel  name="city" placeholder="City" />
                <small *ngIf="exform.get('city').invalid &&  exform.get('city').touched" class="text-danger">City Is Required</small>
              </div>
              <div class="col">
                <input formControlName="state" type="text" class="form-control" ngModel  name="state" placeholder="State" />
                <small *ngIf="exform.get('state').invalid &&  exform.get('state').touched" class="text-danger">State Is Required</small>
              </div>
              <div class="col">
                <input formControlName="zip" type="number" class="form-control" ngModel  name="zip" placeholder="Zip code" />
                <small *ngIf="exform.get('zip').invalid &&  exform.get('zip').touched" class="text-danger">ZipCode Is Required</small>
              </div>
            </div>
            <div class="row p-3">
              <div class="col">
                <input formControlName="email" type="email" class="form-control" ngModel  name="email" placeholder="Email" />
                <small *ngIf="exform.get('email').invalid &&  exform.get('email').touched" class="text-danger">Email Is Required</small>
              </div>
              <div class="col">
                <input formControlName="mobile" type="number" class="form-control" ngModel  name="mobile" placeholder="Phone Number" />
                <small *ngIf="exform.get('mobile').invalid &&  exform.get('mobile').touched" class="text-danger">Mobile  number Is Required</small>
              </div>
            </div>
            <div class="p-3">
              <ng-container *ngIf="checkval==null" >
              <div class="p-3">
                <button [disabled]="exform.invalid" type="submit" class="btn btn-primary" >Done</button>
              </div>
            </ng-container>
            <!-- <ng-container *ngIf="checkval==null" >
              <div class="p-3">
                <button type="submit" class="btn btn-primary" >Done</button>
              </div>
            </ng-container> -->
            </div>
          </div>
        </form>
      <!-- </ng-container> -->
      </ul>
    </div>
  </div>