.card {
  /* border: none; */

  width: 500px;
  padding: 20px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background: hsla(205, 46%, 30%, 1);
  background: linear-gradient(
    90deg,
    hsla(205, 46%, 30%, 1) 0%,
    hsla(205, 46%, 30%, 1) 100%
  );
}
.card-title {
  color: aliceblue;
}

.mb-3 {
  color: aliceblue;
}
.card-header {
  color: bisque;
}
.card-title {
  color: aliceblue;
}
