<!-- <p>popup works!</p> -->
<div class="modal-body">
    <div>
        <!-- <ng-container *ngIf="checkLogedOrNot==null" > -->
             <button type="button" (click)="closeDialog()" class="btn btn-primary btn-lg btn-block" routerLink="/orderAndPayuser">Continue to sign in</button>
        <!-- </ng-container> -->
    </div>

    <hr>

    <div>
        <button type="button" (click)="closeDialog()" class="btn btn-primary btn-lg btn-block" routerLink="/orderAndPay">Continue as guest</button>
    </div>
  </div>


  
